<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message-enjoy { font-size: 1.3em; font-weight: bold; color: green }
      .message-too-much { font-size: 1.3em; font-weight: bold; color: red}
      .note { font-size: 0.8em; font-weight: normal; font-style: italic; } 
      .menu-enjoy { border-width: 2px; border-color: green; }
      .menu-too-much { border-width: 2px; border-color: red;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-class="menuClass" ng-model="foodList">
            <span class="note">Empty items are ignored. For example (item1, , item2) represents 2, <strong>not</strong> 3, items.</span>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkFoodList()">Check If Too Much</button>
         </div>
        <div ng-class="messageClass">
           {{responseToFoodList}}
         </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
